.TodoList {
    display: inline-block;
    width: 40%;
    min-width: 300px;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #f1dec8;

}

.TodoList-todos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}